.App {
  min-height: 100vh;
  background-image: url("img.jpg");
  background-repeat: no-repeat;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: rgb(27, 27, 27);
  border: none;
  padding: 10px 20px;
  color: white;
}
.search-button:hover {
  color: white;
  cursor: pointer;
}

.card {
  border-color: transparent;
  transition: all 1s linear;
  background-color: rgb(12, 12, 12);
  color: white;
}

.card-footer {
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.img-container:hover .cart-btn {
  transform: translate(0, 0);
}
