.App {
  min-height: 100%;
  background-color: rgb(248, 242, 242);
  position: relative;
  border-color: transparent;
  transition: all 1s linear;
  color: rgb(17, 5, 5);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 0.5em;
}

.search-button {
  background: rgb(27, 27, 27);
  border: none;
  border-radius: 0.5em;
  padding: 10px 20px;
  color: rgb(243, 239, 239);
  margin: 20px;
}
.search-button:hover {
  color: white;
  cursor: pointer;
}

.card2 {
  border-color: transparent;
  transition: all 1s linear;
  background-color: rgb(19, 16, 16);
  color: rgb(247, 244, 243);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  position: relative;
  margin-bottom: 5%;
  border-radius: 0.5em;
  padding: 2px;
}

.img-container {
  position: relative;
  margin-bottom: 5%;
  border-radius: 0.1em;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: black;
  color: rgb(235, 221, 221);
  margin-top: 10%;
  padding: 75px;
  text-align: center;
}
.recipe {
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(238, 218, 218);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(245, 241, 241);
  color: black;
  align-items: center;
  min-width: 40%;
}
